*{
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: yellowgreen;
     font-family: 'Times New Roman', Times, serif;
    background-image: url("C:/Users/adity/OneDrive/Pictures/quizapp.jpg");
     background-repeat: no-repeat;
    width: 100%;
    background-position: center;

    background-size:cover;
    //position: absolute;
     
}
.start_quiz{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid brown;
    padding: 10px 30px;
    color: #fff;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s;
}
.start_quiz:hover
{
    background: yellow;
    color:magenta;

} 
.inactive{
    display: none;
}
.quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid #ffff;
    color: #fff;
    box-shadow: 0 0 10px #777;
    padding: 50px;
    width: 100%;
    max-width: 600px;
}
.quiz_box h2{
    font-size: 36px;
}
.quiz_box .option{
    font-size: 18px;
    border: 4px solid yellow;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
.quiz_box .option .fa{
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 27px;
}
.quiz_box .correct{
    background: rgb(157,246,157);
    color: rgb(6,138,28);
    border-color: rgb(6,138,28);

}
.quiz_box .incorrect{
    background: rgb(241,153,153);
    color:rgb(184,12,12);
    border-color:rgb(184,12,12);
}
.quiz_box .option:hover{
    background: magenta;
}
.quiz-footer{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px dashed #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    font-size: 18px;
}
.next-btn{
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    
    cursor: pointer;
    transition: all 0.3s;
}
.next-btn:hover{
    background: greenyellow;
    color: maroon;
}
.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid #ffff;
    color: burlywood;
    box-shadow: 0 0 10px #777;
    background: rgba(0,0,0,0.5);
    width: 100%;
    max-width: 500px;

}
.result-box h2{
    font-size: 36px;
    background: #fff;
    color:#911ae2;
    text-align: center;
    padding: 20px 0;
}
.result-box .result{
    padding: 40px;
}
.result-box h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.result-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30 px;
    
}
.result-footer .again-quiz,.result-footer .exit{
    border: 4px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    margin: 20px;
    
    cursor: pointer;
}
.result-footer .again-quiz{
    background: #911ae2;
    color: #fff;
    border-color: brown;
}
.result-footer .again-quiz:hover,.result-footer .exit:hover{
    background: yellowgreen;
    color: darkblue;
}